
<div class="navbar-compo">

    <!-- top navbar -->
      <!-- sidbar -->
    <div [class.open]="isClassAdded" class="sidebar">
        <div class="logo_details">
          <div class="logo_name">A M N E X</div>
          <div (click)="toggleClass()"><i class="fa fa-bars" id="btn"></i></div>
        </div>
        <ul class="nav-list">
          <li>
            <a href="/dashboard" [class.active]="false">
                <i class="fa fa-dashboard"></i>
              <span class="link_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          <li (click)="toggleDropdown()">
            <a class=" dropdowndropbtn">
                <i class="fa fa-indent"></i>
              <span class="link_name">Incidents</span>
             @if(isClassAdded){
                @if(isDropdownOpen){
                    <i class="fa fa-caret-up"></i>
                  }
                  @else{
                    <i class="fa fa-caret-down"></i>
                  }
             }
            </a>
            @if(isDropdownOpen){
                <ul>
                    <li>
                        <a href="#" (click)="openModal($event,content,'OverSpeed')">
                          <i class="fa fa-truck-fast"></i>
                            <span class="link_name">OverSpeed</span>
                        </a>
                        <span class="tooltip">OverSpeed</span>
                    </li>
                    <li>
                        <a href="#" (click)="openModal($event,content,'AQI')">
                          <i class="fa fa-cloud"></i>
                            <span class="link_name">AQI</span>
                        </a>
                        <span class="tooltip">AQI</span>
                    </li>
                    <li>
                        <a href="#" (click)="openModal($event,content,'Street Light')">
                          <i class="fa-solid fa-shower"></i>
                            <span class="link_name">Street Light</span>
                        </a>
                        <span class="tooltip">Street Light</span>
                    </li>
                    <li>
                        <a href="#" (click)="openModal($event,content,'Traffic Light')">
                          <i class="fa fa-traffic-light"></i>
                            <span class="link_name">Traffic Light</span>
                        </a>
                        <span class="tooltip">Traffic Light</span>
                    </li>
                </ul>}
                <span class="tooltip">Incidents</span>
          </li>
          <li>
            <a href="/configurations">
              <i class="fa fa-gears"></i>
                <span class="link_name">Configurations</span>
            </a>
            <span class="tooltip">Configurations</span>
        </li>
        </ul>
      </div>
      <section class="home-section">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-3 mb-lg-0 ">
                    <li class="text-light p-2">
                        <span  class="text-light me-2">DARSHAN BHALANI</span>
                        <i class="fa fa-caret-down" id="btn"></i>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
          <router-outlet></router-outlet>
      </section>
<div>

<!-- incident modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

